<html>
    <head>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Beer Blog</title>
    {% endif %}
    </head>
    <body>

        <div>Beer Blog: 
        <a href="{{ url_for('home') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Log In</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}
        </div>

        <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>